{% load static wagtailcore_tags wagtailimages_tags %}


{# Footer v5 #}
<div id="footer-v5" class="footer-v5">

    {# Footer #}
    <div class="footer">

        {# Container #}
        <div class="container">

            {# Row #}
            <div class="row">

                {# About Us #}
                <div class="col-md-4 sm-margin-bottom-40">
                    <div class="heading-footer"><h2>About Us</h2></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit ut metus a commodo. Pellentesque congue tellus sed enim sollicitudin, id blandit mauris eleifend.</p><br>
                    <ul class="list-inline dark-social-v2">
                        <li><a href="#"><i class="rounded-sm fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-sm fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-sm fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="rounded-sm fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="rounded-sm fa fa-tumblr"></i></a></li>
                        <li><a href="#"><i class="rounded-sm fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
                {# End About Us #}

                {# Recent Blog Entries #}
                <div class="col-md-4 sm-margin-bottom-40">
                    <div class="heading-footer"><h2>Recent Blog Entries</h2></div>
                    <ul class="list-unstyled thumb-news">
                        {% for blog in blogs %}
                            <li>
                                {% if blog.feed_image %}
                                    {% image blog.feed_image width-80 as img %}
                                    <img class="radius-3x" src="{{ img.url }}" alt="">
                                {% endif %}
                                <div class="overflow-h">
                                    <a href="{% pageurl blog %}">{{ blog.title }}</a>
                                    <small>{{ blog.date }}</small>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {# End Recent Blog Entries #}

                {# Latest Tweets #}
                <div class="col-md-4">
                    <div class="heading-footer"><h2>Latest Tweets</h2></div>
                    <ul class="list-unstyled tweets">
                        <li>
                            <i class="fa fa-twitter"></i>
                            <div class="overflow-h">
                                <p><a href="#">&#64;Toronto </a>voluptates repudiandae sint et molestiae non recusandae.</p>
                                <small>3 Hours ago</small>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                            <div class="overflow-h">
                                <p><a href="#">&#64;Twitter </a>Maecenas pharetra tellus et fringilla. Praesent ut consectetur diam.</p>
                                <small>7 Hours ago</small>
                            </div>
                        </li>
                    </ul>
                </div>
                {# End Latest Tweets #}

            </div>
            {# End Row #}

        </div>
        {# End Container #}

    </div>
    {# End Footer #}

    {# Copyright #}
    <div class="copyright">
        <div class="container">
            <ul class="list-inline terms-menu">
                <li class="silver">Copyright © 2014 - All Rights Reserved</li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy and Policy</a></li>
                <li><a href="#">License</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
    {# End Copyright #}

</div>
{# Footer v5 #}
