{% load static unify wagtailcore_tags %}

{% get_language_root as language_root %}

{# Header #}
<div class="header header-sticky">

    {# Container #}
    <div class="container">

        {# Logo #}
        <a class="logo" href="{{ language_root.url }}">
            <img src="{% static 'assets/img/yuan-logo.svg' %}" alt="Logo">
        </a>
        {# End Logo #}

        {# Topbar #}
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">

                        {% if self.get_language == 'en' %}
                        <li class="active">
                            <a href="{{ self.english_page.url }}">English <i class="fa fa-check"></i></a>
                        </li>
                        {% else %}
                        <li>
                            {% if self.english_page %}
                                <a href="{{ self.english_page.url }}">English </a>
                            {% else %}
                                <a href="{# Put the "Language Page not found here" #}">English </a>
                            {% endif %}
                        </li>
                        {% endif %}

                        {% if self.get_language == 'tr' %}
                        <li class="active">
                            <a href="{{ self.turkish_page.url }}">Turkish <i class="fa fa-check"></i></a>
                        </li>
                        {% else %}
                        <li>
                            {% if self.turkish_page %}
                                <a href="{{ self.turkish_page.url }}">Turkish </a>
                            {% else %}
                                <a href="{# Put the "Language Page not found here" #}">Turkish </a>
                            {% endif %}
                        </li>
                        {% endif %}

                    </ul>
                </li>
            </ul>
        </div>
        {# End Topbar #}

        {# Toggle #}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        {# End Toggle #}

    </div>
    {# End Container #}

    {# Navbar Collapse #}
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">

        {# Container #}
        <div class="container">

            {# Navbar #}
            <ul class="nav navbar-nav">

                {% for menuitem in menuitems %}
                    <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                        {% if menuitem.show_dropdown %}
                            <a href="{% pageurl menuitem %}" class="dropdown-toggle" {# data-toggle="dropdown" #}>{{ menuitem.title }}</a>
                            {% top_menu_children parent=menuitem %}
                        {% else %}
                            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}

                {# Search Block #}
                <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Go</button>
                            </span>
                        </div>
                    </div>
                </li>
                {# End Search Block #}

            </ul>
            {# End Navbar #}

        </div>
        {# End Container #}

    </div>
    {# End Navbar Collapse #}

</div>
{# End Header #}
