{% load compress static wagtailuserbar unify %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{ page.get_language }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ page.get_language }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Yuan{% endblock %}</title>

    {# Meta #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {# Favicon #}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {# Web Fonts #}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    {% compress css %}
        {# CSS Global Compulsory #}
        <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

        {# CSS Header and Footer #}
        <link rel="stylesheet" href="{% static 'assets/css/headers/header-v6.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/footers/footer-v5.css' %}">

        {# CSS Implementing Plugins #}
        <link rel="stylesheet" href="{% static 'assets/plugins/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">

        {# CSS Theme #}
        <link rel="stylesheet" href="{% static 'assets/css/theme-colors/blue.css'' id="style_color" %}">
        <link rel="stylesheet" href="{% static 'assets/css/theme-skins/dark.css' %}">

        {# CSS Customization #}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
    {% endcompress %}

    {# Override this in templates to add extra stylesheets #}
    {% block extra_css %}{% endblock %}

    {# Javascript that needs to be called from head e.g. google analytics snippet and bootstrap shivs #}
    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-xxxxxxx-x']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

{# Override this block to set custom body classes on a template by template basis #}
<body class="{% block body_class %}header-fixed header-fixed-space{% endblock %}">

    {% wagtailuserbar %}

    {# Wrapper #}
    <div class="wrapper">

        {% block header %}
            {% get_language_root as language_root %}
            {% top_menu parent=language_root calling_page=self %}
        {% endblock %}

        {% block slider %}{% endblock %}

        {# Content #}
        <div class="container content-md">
            {% block content %}{% endblock %}
        </div>
        {# End Content #}

        {% block footer %}
            {% footer %}
        {% endblock %}
    </div>
    {# End Wrapper #}

    {% compress js %}
        {# JS Global Compulsory #}
        <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

        {# JS Implementing Plugins #}
        <script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/smoothScroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/jquery.parallax.js' %}"></script>

        {# JS Customization #}
        <script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>

        {# JS Page Level #}
        <script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/plugins/style-switcher.js' %}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                App.init();
                StyleSwitcher.initStyleSwitcher();
            });
        </script>
    {% endcompress %}

    <!--[if lt IE 9]>
    <script src="{% static 'assets/plugins/respond.js' %}"></script>
    <script src="{% static 'assets/plugins/html5shiv.js' %}"></script>
    <script src="{% static 'assets/plugins/placeholder-IE-fixes.js' %}"></script>
    <![endif]-->

    {# Override this in templates to add extra javascript #}
    {% block extra_js %}{% endblock %}
</body>
</html>
